#logo{
    width: 200px;
}
body{background-color: gray;}

header{
    display: flex;
    justify-content: space-between; 
}
.container{
    width: 80%;
    margin:0 auto;
}
.barras-menu{
    display: none;
}
.estilo-menu{
    list-style: none;
    display: flex;
   
}
.estilo-menu a{
    text-decoration: none;
    display: block;
    margin: 10px;
    font-size: 30px;
}
#menu-movil li:nth-child(-n+2){
    border-right: 1px solid blue;
}
#loading{
    display: block;
    margin: 0 auto;
    width: 150px;
}



#containerpk article{
    width: 20%;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    background-color: aquamarine;
}

.navegacion{
    text-align: right;
    margin-right: 15px;
}
#next{
    margin-left: 10px;
}
cursor pointer
#next,#previous{
    cursor: pointer;
}









/* Media query para tamaños de pantalla más pequeños donde quieres ocultar el h1 */
@media screen and (max-width: 376px) {
    .barras-menu{
        display: block;
    }
    h1 {
        display: none; /* Oculta el h1 */
    }
    header{
        justify-content: space-around;
    }
    .estilo-menu{
        display: inline;

    }
    .menu-movil{
        display: none
        ;
    }
    #menu-movil li:nth-child(-n+2){
        border: none;
    }
    #containerpk article{
        width: 100%;
        border: 1px solid black;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
       

    }
    
}

